/* Estilo para la imagen de fondo del login */
.login-image-side {
    background-image: url('../images/foto_institucion.jpg'); /* Asegúrate de tener esta imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Estilo para las alertas de login */
.alert-login {
    position: relative;
    padding-right: 3rem; /* Espacio para el botón de cerrar */
}